.ui.huge.header{
	margin-top: 3em;
	margin-bottom: 2em;
}

.ui.button{
	margin-bottom: 1em;
}

body{
	background: #D3CCE3;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#searchitems{
	background: #f5e1b8;
}

#searchqueries{
	margin-top : 1em;
	margin-bottom : 1em;
}
